---
- name: Workarround to ansible lazy evaluation.
  ansible.builtin.include_tasks: workaround.yml

- name: Get get the timezone information.
  ansible.builtin.slurp:
    src: "/etc/timezone"
  register: tz

- name: Set the server fact.
  ansible.builtin.set_fact:
    server:
      timezone: "{{ server['timezone'] | default(tz['content'] | b64decode | trim) }}"
      network:
        domain_name: "{{ server['network']['domain_name'] | default('example.com') }}"
        ipv4: "{{ server['network']['ipv4'] | default(server_ipv4) }}"
        ipv6: "{{ server['network']['ipv6'] | default(server_ipv6) }}"

- name: Set the containers fact.
  ansible.builtin.set_fact:
    containers:
      data_dir: "{{ containers['data_dir'] | default(ansible_user_dir + '/containers_data') }}"
      cache_dir: "{{ containers['cache_dir'] | default(ansible_user_dir + '/containers_cache') }}"
      config_dir: "{{ containers['config_dir'] | default(ansible_user_dir + '/containers_config') }}"
      logs_dir: "{{ containers['logs_dir'] | default(ansible_user_dir + '/containers_logs') }}"
      loopback_network_address: "{{ containers['loopback_network_address'] | default('10.0.0.1') }}"
      subnet: "{{ containers['subnet'] | default('192.168.203.0/24') }}"

- name: Generates postgres password if needed.
  ansible.builtin.set_fact:
    postgres:
      container_version: "{{ postgres['container_version'] | default('17-bookworm') }}"
      admin_user: "{{ postgres['admin_user'] | default('postgres') }}"
      admin_passwd: "{{ postgres['admin_passwd'] | default(postgres_passwd) }}"
      admin_db: "{{ postgres['admin_db'] | default('main') }}"

- name: Set Redis fact.
  ansible.builtin.set_fact:
    redis:
      container_version: "{{ redis['container_version'] | default('8-bookworm') }}"
      password: "{{ redis['password'] | default(redis_password) }}"

- name: Sets nginx_proxy fact.
  ansible.builtin.set_fact:
    nginx_proxy:
      container_version: "{{ nginx_proxy['container_version'] | default('1.29') }}"
      certbot:
        enabled: "{{ nginx_proxy['certbot']['enabled'] | default(true) }}"
        container_version: "{{ nginx_proxy['certbot']['container_version'] | default('v1.32.2') }}"
        email: "{{ nginx_proxy['certbot']['email'] }}"

- name: Sets homer fact.
  ansible.builtin.set_fact:
    homer:
      enabled: "{{ homer['enabled'] | default(true) }}"
      container_version: "{{ homer['container_version'] | default('latest') }}"

- name: Sets up the admin_wireguard fact.
  ansible.builtin.set_fact:
    admin_wireguard:
      enabled: "{{ admin_wireguard['enabled'] | default(true) }}"
      address: "{{ admin_wireguard['address'] | default('20.0.0.1/24') }}"
      allowed_ip: "{{ admin_wireguard['allowed_ip'] | default('20.0.0.2/32') }}"
      listen_port: "{{ admin_wireguard['listen_port'] | default('51820') }}"

- name: Sets up the keycloak fact and generate keycloak passwords if needed.
  ansible.builtin.set_fact:
    keycloak:
      enabled: "{{ keycloak['enabled'] | default(true) }}"
      container_version: "{{ keycloak['container_version'] | default('26.1') }}"
      realm_name: "{{ keycloak['realm_name'] | default('main') }}"
      postgres_user: "{{ keycloak['postgres_user'] | default('keycloak') }}"
      postgres_password: "{{ keycloak['postgres'] | default(keycloak_postgres_password) }}"
      db_name: "{{ keycloak['db_name'] | default('keycloak_db') }}"
      admin: "{{ keycloak['admin'] | default('admin') }}"
      admin_password: "{{ keycloak['admin_password'] | default(keycloak_admin_password) }}"
      metrics: "{{ keycloak['metrics'] | default(false) }}"
      health: "{{ keycloak['health'] | default(false) }}"

- name: Sets bind dns fact.
  ansible.builtin.set_fact:
    dns:
      enabled: "{{ dns['enabled'] | default(false) }}"
      container_version: "{{ dns['container_version'] | default('9.20') }}"
      AAAA_records: "{{ dns['AAAA_records'] | default(true) }}"

- name: Set fact with a list with all ssl domains.
  ansible.builtin.set_fact:
    ssl_domains_list: "{{ ssl_domains_list | default([]) + [item.domain] }}"
    containers_etc_hosts: "{{ containers_etc_hosts | default({}) | combine({item.domain: server['network']['ipv4']}) }}"
  loop:
    - { domain: "home.{{ server['network']['domain_name'] }}", enabled: "{{ homer['enabled'] }}" }
    - { domain: "accounts.{{ server['network']['domain_name'] }}", enabled: "{{ keycloak['enabled'] }}" }
  when: item.enabled|bool
