---
- name: Workarround to ansible lazy evaluation.
  ansible.builtin.include_tasks: workaround.yml

- name: Get get the timezone information.
  ansible.builtin.slurp:
    src: "/etc/timezone"
  register: tz

- name: Set the server fact.
  ansible.builtin.set_fact:
    server:
      timezone: "{{ server['timezone'] | default(tz['content'] | b64decode | trim) }}"

- name: Set the containers fact.
  ansible.builtin.set_fact:
    containers:
      data_dir: "{{ containers['data_dir'] | default(ansible_user_dir + '/containers_data') }}"
      cache_dir: "{{ containers['cache_dir'] | default(ansible_user_dir + '/containers_cache') }}"
      config_dir: "{{ containers['config_dir'] | default(ansible_user_dir + '/containers_config') }}"
      logs_dir: "{{ containers['logs_dir'] | default(ansible_user_dir + '/containers_logs') }}"
      loopback_network_address: "{{ containers['loopback_network_address'] | default('10.0.0.1') }}"
      subnet: "{{ containers['subnet'] | default('192.168.203.0/24') }}"

- name: Generates postgres password if needed.
  ansible.builtin.set_fact:
    postgres:
      container_version: "{{ postgres['container_version'] | default('17-bookworm') }}"
      admin_user: "{{ postgres['admin_user'] | default('postgres') }}"
      admin_passwd: "{{ postgres['admin_passwd'] | default(postgres_passwd) }}"
      admin_db: "{{ postgres['admin_db'] | default('main') }}"

- name: Set Redis fact.
  ansible.builtin.set_fact:
    redis:
      container_version: "{{ redis['container_version'] | default('8-bookworm') }}"
      password: "{{ redis['password'] | default(redis_password) }}"

- name: Sets nginx_proxy fact.
  ansible.builtin.set_fact:
    nginx_proxy:
      container_version: "{{ nginx_proxy['container_version'] | default('1.29') }}"
      certbot:
        enabled: "{{ nginx_proxy['certbot']['enabled'] | default(true) }}"
        container_version: "{{ nginx_proxy['certbot']['container_version'] | default('1.23') }}"
        email: "{{ nginx_proxy['certbot']['email'] }}"
