# https://www.freedesktop.org/software/systemd/man/systemd.unit.html#%5BUnit%5D%20Section%20Options
[Unit]
Description=Restart the nginx reverse proxy after certificate update
Requires=docker.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/docker restart nginx-proxy

[Install]
WantedBy=default.target
